@import url("./variables.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background: linear-gradient(270deg, #0c0b1e 0%, #2a0f3b 52.08%, #0c0b1e 100%);
  font-size: var(--font-size-base);
  color: #fff;
}

.wide {
  width: 100%;
}

.font_black {
  color: #000
}