@import url("app/styles/variables.scss");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  background: var(--color-dark-grey);
}

h1, h2, h3, a, p, ul, li, div {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
  transition: .4s;
}

button {
  font: inherit;
  color: inherit;
  cursor: pointer;
}

ul li {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

