:root {
    /* fonts */
    --font-family: "Inter", sans-serif;
    --second-family: "Roboto", sans-serif;
    --font-size-base: 16px;
    --font-size-small: 14px;
    --font-size-big: 20px;
    /* colors */
    --purple: #643F82;
    --purple-hover: #8151A8;
    --purple-dark: #250e36;
    --green: #37AC00;
    --green-hover: #41CA00;
    --yellow: #F6A200;
    --yellow-border: #b67a02;
}