.wrapper {

    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    .radio_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        justify-content: center;
        list-style: none;
        width: 100%;

        li {

            & > input {
                display: none;
            }

            label {
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: all 0.1s ease;
                height: 44px;
                cursor: pointer;
                user-select: none;
                span {
                    font-size: var(--font-small);
                    display: block;
                    background-color: #fff;
                    color: #000;
                    opacity: 0.1;
                    padding: 4px 10px;
                    border-radius: 4px;
                    height: 22px;
                    user-select: none;
                }
            }

            input:checked+label {
                color: white;
                background-color: var(--yellow);
                border-bottom: var(--yellow-border);
                span {
                    opacity: 1;
                    transition: transform 0.3s ease;
                    &:hover {                        
                        transform: scale(1.1);
                        transition: transform 0.3s ease;
                    }
                }
            }
            // input:checked+label span {
                
                
            // }
        }
        .wide {
            grid-column: 1 / -1;
        }
    }    
}

@media (max-width: 767px) {
    .wrapper {
        flex-direction: column;
    }
}