:root {
    /* fonts */
    --font-family: "Inter", sans-serif;
    --second-family: "Roboto", sans-serif;
    --font-size-base: 16px;
    --font-size-small: 14px;
    --font-size-big: 20px;
    /* colors */
    --purple: #643F82;
    --purple-hover: #8151A8;
    --purple-dark: #250e36;
    --green: #37AC00;
    --green-hover: #41CA00;
    --yellow: #F6A200;
    --yellow-border: #b67a02;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background: linear-gradient(270deg, #0c0b1e 0%, #2a0f3b 52.08%, #0c0b1e 100%);
    font-size: var(--font-size-base);
    color: #fff;
}

.wide {
    width: 100%;
}

.font_black {
    color: #000
}